html {
    scroll-behavior: smooth;
}


/* :target ::before {
    content: "";
    display: block;
    height: 5rem;
    margin-top: -5rem;
} */

body {
    font-family: var(--text-font);
    color: var(--dark-color);
}