doctype html
html(lang='en')
  head
    // //* METATAGS
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Ensalfruit
    // //* CSS LINKS
    link(rel='stylesheet' href='css/styles.css')
  body
    // //* MENU SECTION
    nav.nav(role='menu')
      p.nav__logo ENSAL
        span.nav__logo--color FRUIT
      button.nav__toggle#nav-toggle(role='button')
        svg.nav__hamburguer(xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='inherit' viewBox='0 0 16 16')
          path(fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z')
      .nav__dropdown#nav-dropdown
        a.nav__item.nav__item--active(href='#home' role='menuitem') Home
        a.nav__item(href='#about' role='menuitem') about Us
        a.nav__item(href='#products' role='menuitem') Products
        a.nav__item(href='#contact' role='menuitem') Contact Us
        a.nav__item(href='#newsletter' role='menuitem') Newsletter
    
    // //* HEADER SECTION
    header#home.header
      h1.header__title ENSAL
        span.header__title--color FRUIT
      p.header__lead Fresh Fruits

    // //* ABOUT SECTION 
    section.about#about 
      h2.about__title About Us
      .about__container
        .about__texts
          h3.about__subtitle Mision
          p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem voluptatibus nulla deserunt quasi fuga quos, nihil optio sequi nesciunt nam ipsa officiis ab, quisquam eveniet cum ipsam odio omnis placeat.
        .about__texts
          h3.about__subtitle Vision
          p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem voluptatibus nulla deserunt quasi fuga quos, nihil optio sequi nesciunt nam ipsa officiis ab, quisquam eveniet cum ipsam odio omnis placeat.
        .about__texts
          h3.about__subtitle Stories
          p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem voluptatibus nulla deserunt quasi fuga quos, nihil optio sequi nesciunt nam ipsa officiis ab, quisquam eveniet cum ipsam odio omnis placeat.
          p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem voluptatibus nulla deserunt quasi fuga quos, nihil optio sequi nesciunt nam ipsa officiis ab, quisquam eveniet cum ipsam odio omnis placeat.
          p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem voluptatibus nulla deserunt quasi fuga quos, nihil optio sequi nesciunt nam ipsa officiis ab, quisquam eveniet cum ipsam odio omnis placeat.

    // //* PRODUCTS SECTION
    main#products.main
      h2.main__title Products

      // //* CARDS
      section.products
        article.card
          img.card__image(src='https://source.unsplash.com/random/1280x720' alt='Image')
          .card__body
            h2.card__title Ensalfruit Beginning
            p.card__description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, libero.
            a.button.button--outline(href='#') Read More
        
        article.card
          img.card__image(src='https://source.unsplash.com/random/1280x720' alt='Image')
          .card__body
            h2.card__title Ensalfruit Medium
            p.card__description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, libero.
            a.button.button--outline(href='#') Read More
        
        article.card
          img.card__image(src='https://source.unsplash.com/random/1280x720' alt='Image')
          .card__body
            h2.card__title Ensalfruit Expert
            p.card__description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, libero.
            a.button.button--outline(href='#') Read More
      
      // //* PRICES TABLE
      section.prices
        h2.prices__title Prices
        table.table
          caption.table__title List of Prices
          thead
            tr
              th Product
              th Price
          tbody
            tr
              td Ensalfruit Beginning
              td $7.99
            tr
              td Ensalfruit Medium
              td $9.99
            tr
              td Ensalfruit Expert
              td $12.99

    // //* CALL US SECTION
    section.call-us
      .call-us__texts
        p.call-us__subtitle Call Us Now!
        a.call-us__number(href='+57345689745') +57 345 689 745
    
    // //* CONTACT SECTION
    section#contact.contact
      h2.contact__title Contact Us
      
      form.form(action='#' role='form')
        .form__group
          label.form__label(for='name') Name:
          input#name.form__input(type='text' name='name' placeholder='Your name here')
        
        .form__group
          label.form__label(for='email') Email:
          input#email.form__input(type='email' name='email' placeholder='Your email here')
        
        .form__group
          label.form__label(for='country') Country:
          select#country.form__input(name='country')
            option(value='') Choose a country
            option(value='BR') Brasil
            option(value='CO') Colombia
            option(value='EC') Ecuador
            option(value='MX') Mexico
            option(value='NI') Nicaragua
            option(value='PE') Peru
        
        .form__group
          label.form__label(for='message') Message:
          textarea#message.form__input.form__input--message(name='message' placeholder='Your message here')
        
        .form__checkbox
          input#agree.form__input(type='checkbox' name='agree')
          label(for='agree') I'm agree to send this data?
        
        .form__butons
          button.form__button(type='submit' role='button button--send') Send Message
          button.form__button(type='reset' role='button button--erase') Erase Data
    
    // //* NEWSLETTER SECTION
    section#newsletter.newsletter
      h2.newsletter__title Newsletter
      iframe.newsletter__frame(src='https://cdn.videvo.net/videvo_files/video/free/2020-05/small_watermarked/200506_Kitchen%20Food_03_4k_002_preview.webm' frameborder='0')
      form.form-newsletter(action='#' role='form')
        input.form__input(type='email' placeholder='Your email here')
        button.form__button(type='submit' role='button') Send me Newsletters!
    
    // //* FOOTER SECTION
    footer.footer
      small.footer__texts
        | © 2021 All Rights Reserved. Created by 
        a.footer__link(href='#') Deybi D. Lamar

    script(src="js/scripts-min.js") 