.button {
    text-decoration: none;
    padding: 1rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.2em;
}

/// Elemento Boton con borde
.button--outline {
    border: 2px solid var(--main-color);
    font-size: 0.9rem;
    color: var(--main-color);
    font-weight: bold;
    background-color: transparent;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.button--outline:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}