.main {
    background-color: var(--white-color);
    padding: 4em 0;
    &__title {
        text-align: center;
        font-size: 2.5rem;
        color: var(--secondary-color);
        margin-bottom: 3rem;
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    gap: 3rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}